@import url('https://fonts.googleapis.com/css?family=Poppins:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+sans:200, 400,700&display=swap');

body {
    max-width: 1440px;
    font-size: 18px;
    margin: 0 auto;
}

.container {
    margin: 2em auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2em;
}

p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1em;
    line-height: 1.2em;
}

.btn {
    display: block;
    width: 50%;
    border: 2px solid #f5f5f5;
    border-radius: 50px;
    background-color: hsl(322, 100%, 66%);
    padding: .75em 2em;
    text-decoration: none;
    color: white;
    box-shadow: 2.2em;
    margin: 0 auto;
    text-align: center;
    font-family: 'Poppins';
}

header {
    display: inline-block;
    width: 100%;
    text-align: left;
    background: url('/images/bg-hero-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: hsl(185, 62%, 92%);*/
}

header img {
    float: left;
    width: 6.7em;
    padding: 1.5em 0.1em;
    margin: 0 1.5em;
}

header > a {
    float: right;
    border: 2px solid #f5f5f5;
    border-radius: 50px;
    background-color: hsl(315, 25%, 97%);
    padding: .5em 1.5em;
    margin-top: 1em;
    text-decoration: none;
    color: rgb(17, 17, 17);
    box-shadow: 2.2em;
    margin-right: 1.5em;
    font-family: 'Poppins';
}

.hero {
    content: "";
    clear: both;
    margin: 5em auto;
    padding: 1em;
    text-align: center;
}

.hero > img {
    display: block;
    width: 80%;
    margin: auto;
    padding: 2em;
}

main {
    display: flex;
    flex-flow: column;
    flex: 1, 1, auto;
    width: 100%;
    text-align: center;
}

.benefits {
    display: block;
    width: 100%;
}

.grow, .flow, .users, .call-to-action {
    display: flex;
    flex-flow: column;
    border: 2px solid #e4e1e1;
    border-radius: 1.1em;
    padding: 1em;
    box-shadow: 2.2em;
    margin: 2.5em 2em;
}

.grow > img {
    width: auto;
    height: 30vh;
}

.flow > img {
    width: auto;
    height: 30vh;
}

.users > img {
    width: auto;
    height: 30vh;
}

.call-to-action {
    font-size: .75em;
    margin-top: 4em;
    margin-bottom: -6em;
    background-color: #ffffff;
}

footer {
    background: hsl(192, 100%, 9%);
    color: white;
    font-family: 'Poppins';
    margin: 0 auto;
    padding-top: 4em;
    font-size: 1em;
    border-start-start-radius: 1em;
    border-start-end-radius: 1em;
}

.footerLogo {
    background-color: rgba(255, 255, 255, 0.577);
    width: 13em;
    padding: 1em;
    border: 1px solid white;
    border-radius: 1em;
}

.location {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    font-size: 1em;
}

.phone {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    font-size: 1em;
}

.email {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%; 
    font-size: 1em;
}

.location.phone.email > img {
    padding-right: .5em; 
    margin-top: 4px;
    width: 18px;
    height: 24px;  
}

.location.phone.email > p {
    width: 92%;
    margin: 0 auto;
}


.footerMenu {
    margin-bottom: 2.5em;
    font-family: 'Open Sans';
    font-size: 1em;
}

.footerMenu li {
    list-style: none;
    padding-top: 1em;
    margin-bottom: .5em;
    font-size: 1em;
}

.footerMenu a {
    text-decoration: none;
    color: hsl(193, 100%, 96%);
    font-family: 'Poppins';
    font-size: 1em;
}

footer > p {
    font-size: 1em;
    color: white;
    text-align: center;
}

.attribution {
    margin: 0 auto;
    text-align: center;
    color: white;
}

.attribution > a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 50%;
    font-family: 'Poppins';
}

@media screen and (min-width: 820px) {

    body {
        overflow-x: hidden;
    }

    .container {
        margin: 2em auto;
    }

    header {
        background: url('/images/bg-hero-desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    header img {
        float: left;
        width: 240px;
        padding: 1.5em 0.1em;
        margin: 0 1.5em;
    }

    header > a {
        float: right;
        border: 2px solid #f5f5f5;
        border-radius: 50px;
        background-color: hsl(315, 25%, 97%);
        padding: .5em 2.5em;
        margin-top: 1em;
        margin-right: 1.5em;
        text-decoration: none;
        color: rgb(17, 17, 17);
        box-shadow: 40px;
        font-family: 'Poppins';
    }

    .hero {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
    }

    .hero-content {
        width: 40%;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        padding-top: 4em;
    }

    .hero > img {
        width: 60%;
    }

    .benefits {
        display: flex;
        flex-flow: column;
        width: 100%;
        flex-grow: 1;
        flex-shrink: 1;
    }


    .grow {
        display: flex;
        flex-flow: row-reverse;
        box-sizing: border-box;
       
    }

    .flow {
        display: flex;
        flex-flow: row;
    }

    .users {
        display: flex;
        flex-flow: row-reverse;
    }

    .growContent{
        box-sizing: border-box;
        padding: 1em;
        margin: 4em;
        text-align: left;
        font-size: 100%;
        justify-items: center;
    }

    .flowContent {
        box-sizing: border-box;
        padding: 1em;
        margin: 4em;
        text-align: left;
        font-size: 100%;
        justify-items: center;
    }

    .usersContent {
        box-sizing: border-box;
        padding: 1em;
        margin: 4em;
        text-align: left;
        font-size: 100%;
        justify-items: center;
    }


    .grow > img {
        width: 50%;
        height: auto;
        box-sizing: border-box;
    }

    .flow > img {
        width: 50%;
        height: auto;
    }

    .users > img {
        width: 50%;
        height: auto;
    }

    .call-to-action {
        width: 50%;
        margin-bottom: -6em;
        margin-left: auto;
        margin-right: auto;

    }

    .footerLogo {
        background-color: rgba(255, 255, 255, 0.577);
        width: 13em;
        padding: 1em;
        border: 1px solid white;
        border-radius: 1em;
        margin-top: 3.5em;
    }

    .column {
        float: left;
        /* width: 100%; */
        padding-top: 4em;
    }

    .grid1 {
        width: 33.33%;
    }

    .grid2 {
        width: 33.33%;
    }

    .grid3 {
        width: 33.33%;
    }

    .row {
        width: 100%;
        padding: 1em;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
      }

    .footerMenu {
        margin: 0 auto;
    }

    .footerMenu li {
        list-style: none;
        font-size: 1em;
        padding-top: 0;
        margin-bottom: 0;
    }
    
    .footerMenu a {
        text-decoration: none;
        font-size: 80%;
    }

}
